@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --color-primario:#F3F5FC;
    --color-secundario: #0A3871;
    --color-terciario: #FFFFFF;
    --color-cuarteario: #D8DFE8;

    --fuente-montserrat:"Montserrat", sans-serif;
}

.header{
    padding: 2.5% 0% 0% 1%;
}

.logo{
    margin-bottom: 0px;
}

body{
    background-color: var(--color-primario);
    box-sizing: border-box;
}

.container{
    display: flex;
    padding: 0% 20%;
    justify-content: space-between;
    justify-items: center;
    gap: 20px;
}

.input-section{
    display: flex;
    flex-direction: column;
    
}

textarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-terciario);
    resize: none;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: var(--fuente-montserrat);
}
.buttons {
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color:var(--color-terciario);
    font-family: var(--fuente-montserrat);
    margin-bottom: 20px;
}

.encrypt-button {
    background-color: var(--color-secundario);
}

.decrypt-button {
    background-color: var(--color-cuarteario);
    color: var(--color-secundario);
}

.note{
    font-family: var(--fuente-montserrat);
    color: var(--color-secundario);
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.note_1{
    font-family: var(--fuente-montserrat);
    color: var(--color-secundario);
    margin-bottom: 1px;
}

.note_2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.note_3{
    font-size: 0.8rem;
    font-weight: 400;
}

.illustration{
    width: 200px;
}

#text-output{
    height: 100px;
}

@media (max-width: 1200px ){

    .header{
        padding: 10%;
    }

    .container{
        flex-direction: column;
        padding: 5%;
        width: auto;
    }
}